/* Update your existing CSS */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  min-height: 100%; /* Ensure the App container takes at least the full height of the viewport */
  display: flex;
  flex-direction: column;
}

.cover {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  background-color: white;
  display: grid;
  grid-template-columns: 100px 1fr;
}

.MainpWrap {
  padding: 3em;
  flex-grow: 1; /* Allow MainpWrap to grow and take up the remaining space */
  overflow-y: auto; /* Add this to enable scrolling if content overflows */
}

.prodductbox {
  padding: 1em;
}

/* Ensure your Product component has height: 100% */
.All {
  background-color: gainsboro;
  height: 100%;
  display: flex;
  flex-direction: column;
}
