.whatsapp {
    border: 4px solid #FBAF05;
    border-radius: 2em;
    padding:2em;
    margin: 1em;
}
.whatsapp > button {
    margin-top: 2em;
}

.email{
    border-radius: 2em;
    background-color: #F0F0F0;
    padding:2em;
    margin: 1em;
}

.form > button {
    margin-top: 5em;
}
