.title {
  position: relative;
  top:0;
  left:0em;
  width: 80%;
}

.text{
  display: flex;
}

.text >img{
  display: flex;
  position: relative;
  top:10em;
}
.text>h1 {
  position: relative;
  top: -1.5em;
}

.text>div {
  display: flex;
  position: absolute;
  top:6em;
  left: 0;
}


.stick {
  background-color: #D9D9D9;
  width: 0.5em;
  height: 75vh;
  border-radius: 1em;
  position: fixed; /* Change to fixed */
  left: 22em;
  top: 12em;
}

.stickM {
  background-color: #FBAF05;
  width: 2em;
  height: 10vh;
  border-radius: 1em;
  position: fixed; /* Change to fixed */
  left: 21.3em;
  top: 12em;
}

