.All {
    padding: 0.5em;
    background-color: #EDECEC;

    width: 15em;
    height: 15em;

    border-radius:2em;
    margin-bottom: 0.5em;
    cursor: pointer;
  transition: box-shadow 0.3s ease; /* 그림자 트랜지션 추가 */

}
.ProductBox {
position: relative; 
padding-left: -100em; 
}

.All:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* 마우스 오버시 그림자 추가 */
}

.starwarp {
    transition: background-color 0.3s ease-in-out;

    background-color: #FBAF05;
    width: 2em;
    height: 2em;
    border-radius: 50%;

    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin: 1em;
}

.clickedStarwarp {
    background-color: white; /* 클릭 시 starwarp 배경색 변경 */
  }
  
.imgbox {
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background-color: aqua;
    display: flex;
    position: relative
    ;    right: -35px;
    top:-3.5em;
    background-size: auto 100%; /* 배경 이미지의 너비는 자동으로, 높이는 100%로 조절 */
    background-position: center; /* 배경 이미지를 가운데 정렬 */
    background-repeat: no-repeat; /* 배경 이미지 반복 없음 */

}
.All h2 {
    display: flex;
    position: relative ;
    top:-2.5em;
    left: 20px;
}

.titlename {
  text-align: center; /* 텍스트 중앙 정렬 */
  position: relative;
  top: -2em;
}


.detailbox {
    display: flex;
    position: relative ;
    top:-16em;
    left: 82%;

}

.showdetail{
  position: relative ; 
    top: -3em;
  right:-1em;
}