.sidemain {
    background-color: #FBAF05;
    width: 100%;
    height: 100vh;
    color: white;
}

  .sidemain h2 {
    margin: 50px 12px; /* 상하로 5px 간격 추가 */
    cursor: pointer;
    writing-mode: vertical-lr; /* 세로 방향 텍스트 모드 설정 (IE 지원) */
    transform: rotate(180deg); /* 90도 시계 방향 회전 */
  }
  .roundor {
    width:3em;
    height: 3em;
    border-radius: 50%;
    background-color: #FBAF05;
    position: relative;
    left: 1.5em;
    top: 20%;
  }
  
  .roundwh {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .roundwhwrap{
    display: flex;
    position: relative;
    top: 2em;
    left: 0.8em;
  }

 